*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eeedde;
  --transition: all 0.5s ease-in-out;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.search {
  width: 3rem;
  /* width: 25rem; */
  height: 3rem;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: relative;
  transition: var(--transition);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: var(--primary-color);
}

.btn:hover {
  border: 1px solid silver;
}

.btn:focus {
  color: red;
}

.search__form {
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  border: 1px solid silver;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: var(--transition);
}
.search__form:focus {
  outline: none;
}

.btn-search {
  z-index: 20;
}

.btn-send {
  z-index: 10;
  transition: var(--transition);
}

#search {
  display: none;
}

#search:checked ~ .search {
  width: 25rem;
  transition: var(--transition);
}

#search:checked ~ .search .search__form {
  width: 18.5rem;
  padding: 0 1rem;
  transform: translateX(3.25rem);
  transition: var(--transition);
}

#search:checked ~ .search .btn-send {
  transform: translateX(calc(3rem + 18rem + 1rem));
  transition: var(--transition);
}
